<div class="row my-3 text-capitalize text-center">
  <div class="col-10 mx-auto col-lg-2">
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_841400-MLB42088768502_062020-O.webp"
      style="display: 5rem; height: 5rem"
      alt="produto"
      class="img-fluid rounded-circle card-hover"
    />
  </div>

  <div class="col-10 mx-auto col-lg-2">
    <span class="d-lg-none">Produto: </span>
    Peixe De Pelúcia 3d Brinquedo Gato 20 Cms
  </div>

  <div class="col-10 mx-auto col-lg-2">
    <span class="d-lg-none">Preço: </span>
    R$15,99
  </div>

  <div class="col-10 mx-auto col-lg-2">
    <div class="col-10 mx-auto col-lg-2 my-2 my-lg-0">
      <div class="d-flex justify-content-center">
        <span class="btn btn-outline-dark mx-1">-</span>
        <span class="btn btn-outline-dark mx-1">1</span>
        <span class="btn btn-outline-dark mx-1"> + </span>
      </div>
    </div>
  </div>

  <div class="col-10 mx-auto col-lg-2">
    <div class="cart-icon cursor-pointer">
      <i class="fas fa-trash text-warning"></i>
    </div>
  </div>

  <div class="col-10 mx-auto col-lg-2">
    <strong class="d-lg-none">Total: </strong>
    <strong>R$15,99</strong>
  </div>
</div>
